@use '../../styles/colors';
@use '../../styles/variables';

.card {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px 8px;
  background-color: transparent;
  border-radius: variables.$border-radius;
  border: 1px solid colors.$darker-gray;
  text-align: left;

  &:hover {
    border-color: colors.$dull-gray;
    cursor: pointer;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
