@import "../vars";

.add-button {
  width: 100%;
  margin-bottom: 12px;
  padding: 12px 8px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid $color-item-inactive;
  text-align: center;

  &:hover {
    border-color: $color-item-active;
    cursor: pointer;
  }
}
