@import "../vars";

.header {
  display: flex;
  padding: 16px 48px;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: 0 2px 8px $color-shadow;

  &--search {
    border: 1px solid $color-item-inactive;
    border-radius: 4px;
    width: 480px;
    padding: 6px 16px;

    &::placeholder {
      color: $color-item-inactive;
      font-style: italic;
    }
  }

  &--btns {
    display: flex;
  }

  &--btn {
    width: 34px;
    height: 34px;
    padding: 0;
    text-align: center;
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }
  }
}
