@use '../../styles/fonts';
@use '../../styles/colors';

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: fonts.$font-family;
  background-color: colors.$light-blue;
}
