::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
    background: rgba(146, 146, 146, 0.5);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(146, 146, 146, 0.6);
}