.container-fluid {
    background: url("./img.jpg");
    // background-color: #0c0c22;
    // background-attachment: fixed;
    // overflow-x: auto;
}

.list {
    background-color: #EBECF0;
    flex: 0 0 auto;
}