@import "~@csstools/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    // background: url("./img.jpg");
    background-color: #0c0c22;
    // background-attachment: fixed;
    // overflow-x: auto;
}

// .list {
//     background-color: #EBECF0;
//     flex: 0 0 auto;
// }