@import "~@csstools/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "./scrollbar.scss";

$border-radius: 4px;

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100vh;
    background-color: #0c0c22;
    display: flex;
    flex-direction: column;
}

.board {
    flex-grow: 1;
    display: flex;
    overflow-x: auto;
    margin: 0.75rem;
    border-radius: $border-radius;
}

.list-wrapper {
    min-width: 272px;
    margin: 0 0.25rem;
}

.list {
    padding: 0.75rem;
    background-color: #EBECF0;
    border-radius: $border-radius;
}

.card {
    margin: 0.75rem 0;
    padding: 0.6rem 0.75rem;
    background-color: #FFFFFF;
    border-radius: $border-radius;
    border-bottom: 1px solid #cfcfcf;
}