// Background Colors
$color-bg: #e2e6eb;

$color-primary: #e2e6eb;
$color-secondary: #5a646e;
$color-item-inactive: #bbb;
$color-item-active: #ddd;
$color-shadow: #bbb;

// Font Colors
$color-font-primary: #000;
$color-font-secondary: #fff;
