// Background Colors
$color-bg: #e2e6eb;

$color-primary: #e2e6eb;
$color-secondary: #5a646e;
$color-item-inactive: #ddd;
$color-item-active: #bbb;
$color-shadow: #bbb;
$color-list-highlight: #707070;

// Font Colors
$color-font-primary: #000;
$color-font-secondary: #fff;

$drop-shadow: 0 2px 8px $color-shadow;
