@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/variables';

.list {
  background-color: colors.$white;
  box-shadow: variables.$drop-shadow;
  padding: 24px 16px;
  border-radius: variables.$border-radius;
  border-top: 4px solid colors.$dark-gray;
}

.listHeader {
  @extend %heading2;
  display: flex;
  // position: relative;
  align-items: center;
  justify-content: space-between;
}

.listContent {
  margin-top: 12px;
}

.listOptionsContainer {
  position: relative;
}

.listOptionsButton {
  height: 24px !important;
  width: 24px !important;

  & svg {
    fill: colors.$gray;
    width: 10px;
  }

  &:hover {
    background-color: colors.$light-gray;
    svg {
      fill: colors.$black;
    }
  }
}

.listOptions {
  @extend %text1;
  position: absolute;
  margin-top: 8px;
  padding: 12px 0;
  width: 272px;
  box-shadow: variables.$drop-shadow;
  background-color: colors.$white;
  border-radius: variables.$border-radius;
}

.listOptionsTitle {
  @extend %heading3;
  text-align: center;
  padding: 0 12px;
}

.listOptionsDivider {
  margin-top: 8px;
  margin-bottom: 8px;
}

.listOptionsRow {
  padding: 8px 12px;
  &:hover {
    background-color: colors.$dull-gray;
  }
}
