@use './styles/colors';
@use './styles/fonts';
@use './styles/resets';

body {
  font-family: fonts.$font-family;
  background-color: colors.$light-blue;
}

// Scrollbar
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}
