@use './styles/colors';
@use './styles/fonts';
@use './styles/resets';

body {
  font-family: fonts.$font-family;
  background-color: colors.$light-blue;
}

// Scrollbar
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

// Deprecated
.text-heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: var(--color-font-primary);
}

.text-title {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-font-primary);
  color: var(--color-font-primary);
}

.text-body {
  margin: 0;
  font-size: 16px;
  color: var(--color-font-primary);
}

$colors: (
  'white': #fff,
  'light-blue': #e2e6eb,
  'light-gray': #eeeeee,
  'gray': #d0d0d0,
  'mid-gray': #8d8d8d,
  'dark-gray': #707070,
  'black': #000,
);

/* Global Variables */
:root {
  --color-bg: #e2e6eb;

  --color-primary: #e2e6eb;
  --color-secondary: #5a646e;
  --color-item-inactive: #ddd;
  --color-item-active: #bbb;
  --color-shadow: #bbb;
  --color-list-highlight: #707070;

  /* Font Colors */
  --color-font-primary: #000;
  --color-font-secondary: #fff;

  --drop-shadow: 0 2px 8px var(--color-shadow);

  --border-radius: 8px;
}
