.header {
  display: flex;
  padding: 16px 48px;
  background-color: #fff;
  justify-content: space-between;
  box-shadow: var(--drop-shadow);
}

.header--search {
  border: 1px solid var(--color-item-inactive);
  border-radius: 4px;
  width: 480px;
  padding: 6px 16px;
}

.header--search::placeholder {
  color: var(--color-item-inactive);
  font-style: italic;
}

.header--btns {
  display: flex;
}

.header--btn {
  display: flex;
  width: 34px;
  height: 34px;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}

.header--btn:last-child {
  margin-right: 0;
}

.header--theme-icon {
  fill: var(--color-font-secondary);
  height: 21px;
  width: 21px;
}
