@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/variables';

.header {
  display: flex;
  padding: 16px 48px;
  background-color: colors.$white;
  justify-content: space-between;
  box-shadow: variables.$drop-shadow;
}

.boardTitle {
  @extend %heading1;
}

.searchBar {
  width: 600px;
  border: 1px solid colors.$darker-gray;
  border-radius: variables.$border-radius;
  padding: 6px 16px;

  &::placeholder {
    color: colors.$darker-gray;
    font-style: italic;
  }
}

.rightButtons {
  display: flex;
}

.rightButton {
  background-color: colors.$dark-blue;
  color: colors.$white;

  & {
    margin-right: 16px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.sunIcon {
  fill: colors.$white;
  height: 21px;
  width: 21px;
}
