@import "~@csstools/normalize.css/normalize.css";

*,
*:before,
*:after {
  line-height: normal;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
