@import "../global/vars";

.card {
  display: block;
  position: relative;
  margin-top: 0.5rem;
  padding: 0.5rem 0.6rem;
  background-color: $color-card-bg;
  border-radius: $border-radius;
  border-bottom: 1px solid darken($color-card-bg, 25%);

  &:hover {
    background-color: darken($color-card-bg, 5%);
  }
}

.add-new-card {
  background-color: transparent;
  border-bottom: none;
  color: #3d3d3d;

  &:hover {
    background-color: darken($color-list-bg, 10%);
  }
}

.card-editor {
  width: 100%;
  resize: none;
  border: 1px solid black;
}
