@import "../global/variables";

.card {
  display: block;
  position: relative;
  margin: 0.75rem 0;
  padding: 0.6rem 0.75rem;
  background-color: $color-card-bg;
  border-radius: $border-radius;
  border-bottom: 1px solid darken($color-card-bg, 25%);

  &:hover {
    background-color: darken($color-card-bg, 5%);
  }

  .card-options {
    position: absolute;
    width: 150px;
    top: 0.5rem;
    left: calc(100% - 2rem);
    z-index: 2;

    .card-show-option {
      display: flex;
      width: 1.5rem;
      height: 1.5rem;
      justify-content: center;
      align-items: center;
      background-color: darken($color-card-bg, 10%);
      border-radius: $border-radius;
      opacity: 0.75;

      &:hover {
        background-color: darken($color-card-bg, 30%);
        opacity: 1;
      }
    }

    .card-option {
      display: inline-block;
      background-color: #3d3d3d;
      color: white;
      border-radius: $border-radius;
      margin: 0.5rem 0;
      padding: 0.5rem;

      &:hover {
        background-color: darken($color-card-bg, 5%);
      }
    }
  }
}

.add-new-card {
  display: block;
  padding: 0.6rem 0.75rem;
  color: #3d3d3d;
  border-radius: $border-radius;
}

.add-new-card:hover {
  background-color: #d8d8d8;
}
