@import "../global/variables";

.list-wrapper {
  min-width: 272px;
  max-width: 272px;

  margin: 0 0.25rem;

  .list {
    padding: 0.75rem;
    background-color: $color-list-bg;
    border-radius: $border-radius;

    .list-header {
      input {
        background-color: transparent;
        border: none;
        font: inherit;
        font-weight: bold;
      }

      input:focus {
        background-color: #ffffff;
      }
    }
  }

  .add-new-list {
    display: block;
    padding: 0.6rem 0.75rem;
    background-color: rgba(128, 128, 128, 0.5);
    color: #ffffff;
    border-radius: $border-radius;
  }

  .add-new-list:hover {
    background-color: #d8d8d8;
  }
}
