@use '../../styles/fonts';
@use '../../styles/colors';
@use '../../styles/variables';

%base {
  @extend %text1;
  background-color: inherit;
  color: inherit;
  border-radius: variables.$border-radius;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  @extend %base;
  padding: 6px 16px;
}

.btnSquare {
  @extend %base;
  height: 36px;
  width: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
