@use '../../styles/colors';
@use '../../styles/variables';

%base {
  background-color: colors.$dark-blue;
  border-radius: variables.$border-radius;
  border: none;
  color: #fff;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  @extend %base;
  padding: 6px 16px;
}

.btnSquare {
  @extend %base;
  height: 36px;
  width: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
